{% extends 'member/base/base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href=".">
            <img src="/static/logo.png">
            <span>Alfred's Python Wiki</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </div>
</nav>

<div class="container">
    <h1 class="container-ele">
        Sign Up
    </h1>

    <div class="container-ele input-div">
        <span>User Name</span>
        <input type="text">
    </div>

    <div class="container-ele input-div">
        <span>Email</span>
        <input type="text">
    </div>

    <div class="container-ele input-div">
        <span>Password</span>
        <input type="password">
    </div>

    <div class="container-ele input-div">
        <span>Password(Again)</span>
        <input type="password">
    </div>

    <button class="container-ele btn btn-outline-light action-btn">Sign Up</button>

    <hr />

    <a class="container-ele btn btn-outline-light third-login-method" href="/member/google/">
        <img src="/static/member/image/googleg_standard_color_128dp.png" />
        <span>Continue With Google</span>
    </a>

    <span>or</span>

    <a class="container-ele btn btn-outline-light third-login-method" href="/member/login/">
        <span>Log In</span>
    </a>
</div>
{% endblock %}

{% block custom_body %}
<script></script>
{% endblock %}