{% extends 'member/base/base.html' %} {% block custom_head %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

<style>
    body,
    .navbar {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        background-color: #1f1d22;
        color: aliceblue;
    }

    .navbar {
        background-color: #0f09108a;
        margin: 0 0 50px 0;
    }

    .navbar-brand {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand>img {
        height: 75px;
        margin-right: 10px;
    }

    .navbar-brand>span {
        color: aliceblue;
        font-size: 30px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 50px;
        box-shadow: 0px -5px 10px #e8edf9, 0px 5px 10px #e8edf9, 0px 3px 8px #e8edf9, 0px 5px 10px #e8edf9;
        border-radius: 20px;
        background: #1c1923;
    }

    .container-ele {
        width: 310px;
        margin: 15px 0;
    }

    @media screen and (max-width:768px) {
        .navbar-brand>img {
            height: 60px;
            margin-right: 10px;
        }

        .navbar-brand>span {
            font-size: 20px;
        }
    }

    @media screen and (max-width:431px) {
        .container {
            padding: 30px;
        }

        .container-ele {
            width: 300px;
            margin: 5px 0;
        }
    }

    @media screen and (max-width:415px) {
        .container-ele {
            width: 280px;
        }
    }

    @media screen and (max-width:376px) {
        .container-ele {
            width: 250px;
        }
    }

    h1 {
        font-weight: bolder;
        text-align: center;
    }

    .input-div {
        display: flex;
        display: flex;
        flex-direction: column;
    }

    span {
        font-size: 20px;
    }

    .input-div>input {
        display: block;
        font-size: 1rem;
        font-weight: 400;
        inline-size: 100%;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #878787;
        padding-inline: 14px;
        padding-block-start: 8px;
        padding-block-end: 8px;
        background-color: #202124;
        color: aliceblue;

    }

    .input-div>input:hover {
        box-shadow: inset 0 0 0 1px #000000;
    }

    .action-btn {
        background-color: #A19FE1;
        color: #000000;
        --bs-btn-hover-color: #000000;
        --bs-btn-hover-bg: #645FCE;
        font-size: 20px;
        border-radius: 500px;
        border: 1px solid #878787;
    }

    .third-login-method {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
        border: 1px solid #878787;
    }

    .third-login-method>img {
        width: 30px;
    }

    .third-login-method>span {
        width: 250px;
    }

    .third-login>a.btn {
        --bs-btn-hover-color: #f8f9fa;
        --bs-btn-hover-bg: #202124;
    }

    hr {
        color: #f8f9fa;
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href=".">
            <img src="/static/logo.png">
            <span>Alfred's Python Wiki</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </div>
</nav>

<div class="container">
    <h1 class="container-ele">
        Sign Up
    </h1>

    <div class="container-ele input-div">
        <span>User Name</span>
        <input type="text">
    </div>

    <div class="container-ele input-div">
        <span>Email</span>
        <input type="text">
    </div>

    <div class="container-ele input-div">
        <span>Password</span>
        <input type="password">
    </div>

    <div class="container-ele input-div">
        <span>Password(Again)</span>
        <input type="password">
    </div>

    <button class="container-ele btn btn-outline-light action-btn">Sign Up</button>

    <hr />

    <a class="container-ele btn btn-outline-light third-login-method" href="/member/google/">
        <img src="/static/member/googleg_standard_color_128dp.png" />
        <span>Continue With Google</span>
    </a>

</div>
{% endblock %}

{% block custom_body %}
<script></script>
{% endblock %}